* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
}

body {
  display: grid;
  place-items: center;
}

main {
  width: 100%;
  min-height: 100vh;
  background: black;
  background-position: center;
  background-image: url(images/Desktop.svg);
  background-size: cover;
}
.barra {
  background: black;
  height: 8px;
  width: 80px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 11px;
  transform: translate(-50%);
}

.faixa {
  background: linear-gradient(161.24deg, #ff008e -15.25%, #ffcd1e 111.89%);
  height: 158px;
  width: 64px;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: -145px;
  transform: translate(-50%);
}

.content {
  width: 358px;
  height: 540px;
  background: #202024;
  margin: auto;
  margin-top: 145px;
  position: relative;
  text-align: center;
}

.vector {
  background: linear-gradient(90deg, #ff008e -15.25%, #ffcd1e 111.89%);

  margin-top: 0px;
  width: 359px;
  height: 165px;
  position: absolute;
  clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
}

.avatar {
  top: 9.6px;
  text-align: center;

  position: relative;
}

.avatar span {
  position: absolute;
  margin-top: 57.5px;
  z-index: 1;
}

.avatar > img {
  margin-top: 72.5px;
  width: 160px;
  height: 184px;

  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  margin-top: 24px;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 24px;
}
p {
  font-family: sans-serif;
  color: white;
  font-size: 14px;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li img {
  margin-top: 40px;
  padding: 8px;
  background-color: #323238;
  height: 40px;
  width: 40px;
}
.github {
  margin-top: 8px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github img {
  margin-right: 12px;
}
