.button {
  display: inline-block;
  background-color: #f25a70;
  box-shadow: 5px 5px 0px #000000;
  margin-right: 0;
  padding: 18px 20px;
  transition: transform 900ms;

  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.button:hover {
  transform: translateX(10px) rotate(10deg) translateY(5px);
}
